.home_div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.movieCardGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.search {
    margin: 20px;
}

.searchBar {
    background-color: white;
    border: 5px solid #fa84aa;
    border-radius: 15px;
    color: #4ac6d7;
    font-size: 25px;
    height: 50px;
    width: 100%;
}

.searchButtonContainer {
    text-align: right;
    margin: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.button {
    background-color: #ffd342;
    border:none;
    border-radius: 15px;
    color: #43b8c7;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
}
.button:hover{
    background-color: #e81b23;
    color:#ffd342;
}
.buttonDiv{
margin-left: auto;
}
.btn_like{
    background-color: #43b8c7;
    border: none;
    border-radius: 15px;
    color: #ffd342;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
}
.btn_like:hover{
    background-color: #e81b23;
    color:#ffd342;   
}